body {
    background-color: yellow
}

#container {
    margin: auto;
    float: left;
    padding-left: 20%;
}
#newGame {
    float: right;
}


span {
    color: red;
    background-color: white;
    font-size: 150px;
    float: left;
    padding-left: 22%;
    padding-top: 5%;
}
.box_cell {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    opacity: .75;
    box-shadow: 2px 2px 0px #888888
}

.hover {
  background-color: #aaa;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;